<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load bootstrap3 %}


<head>
    <meta charset="UTF-8">
    <title>{% block title %}tytul strony{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    {% bootstrap_messages %}

      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Wypożeczalnia</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="{% url 'shelf:author-list' %}">Autorzy</a></li>
              <li><a href="{% url 'shelf:book-list' %}">Książki</a></li>
              <li><a href="{% url 'rental:rent-form' %}">Wypożycz</a></li>
                {% if user.is_authenticated %}<li><a href="{% url 'account_logout'%}">Wyloguj sie</a></li> {% else %} <li><a href="{% url 'account_login' %}">Zaloguj się</a></li> <li><a href="{% url 'account_signup' %}">Załóż kontro</a></li>{% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

    <div class="container">
          {% block content %}
          {% endblock %}
    </div>

</body>
</html>